@model IEnumerable<AppTarefas.Models.Tarefa>


@{
    ViewData["Title"] = "Index";
}

<h1>Tarefas:</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar</a>
</p>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#categoriaCorSelect').change(function () {
                var categoriaCor = $(this).val();
                $.get('/Tarefas/FiltrarPorCategoriaCor', { categoriaCor: categoriaCor }, function (data) {
                    $('#tarefasTable tbody').html(data);
                });
            });
        });
    </script>
}


<div class="form-group m-3 input-group ">
    <label class="input-group-text btn btn-primary " for="categoriaCorSelect">Filtrar por Categoria:</label>
    <select id="categoriaCorSelect" class="form-control">
        <option value="">Todas as Categorias</option>
        @foreach (var categoria in ViewBag.Categorias)
        {
            <option value="@categoria.CategoriaCor">@categoria.CategoriaNome</option>
        }
    </select>
</div>


<table id="tarefasTable" class="table table-hover rounded-5 
    text-center caption-top
    table-light table-bordered">
    <thead class="table table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TarefaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_TarefasTable", Model)
    </tbody>
</table>


<!-- Modal -->
@foreach (var item in Model)
{
    <div class="modal fade" id="modalDetalhes_@item.TarefaId" tabindex="-1" aria-labelledby="modalDetalhesLabel_@item.TarefaId" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #2C3950;">
                    <h1 class="modal-title fs-5" id="modalDetalhesLabel_@item.TarefaId">Detalhes da Tarefa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: #2C3950;">
                    <div>
                        <h4>Tarefa</h4>
                        <hr />

                        <dl class="row">
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.TarefaNome)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => item.TarefaNome)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.DataInicio)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => item.DataInicio)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.DataFim)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => item.DataFim)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Categoria)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => item.Categoria.CategoriaNome)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => item.Status.StatusNome)
                            </dd>
                        </dl>

                    </div>
                </div>
                <div class="modal-footer" style="background-color: #2C3950;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>


}